################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Shay/Debug
/Shay/Release
/PortalEngine/Debug
/PortalEngine/Release
/x64
