################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Shay/Debug
/Shay/Release
/Shay/x64
/PortalEngine/Debug
/PortalEngine/Release
/PortalEngine/x64
/x64
/Release